.user-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60px;

  > div {
    display: flex;

    > svg {
      width: 100%;
      height: 100%;
    }
  }
}
